<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-mud-test" value="https://nuget.pkg.github.com/maliming/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.*" />
      <package pattern="Volo.*" />
    </packageSource>
    <packageSource key="github-mud-test">
      <package pattern="Volo.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <github-mud-test>
      <add key="Username" value="maliming" />
      <add key="ClearTextPassword" value="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" />
    </github-mud-test>
  </packageSourceCredentials>
</configuration>